body {
  background: #ffd2b9;
}

.container {
  margin: 0 10px;
}

.image-logo {
  max-width: 434px;
  display: block;
  margin: 0 auto 45.5px auto;
}

.vending-machine {
  display: grid;
  grid-template-areas:
    "selection wallet"
    "selection acquired";
  gap: 28px;
  grid-template-columns: 1fr 1fr;
}

.drink-selection {
  grid-area: selection;
  justify-self: end;
  background: #a59b9b;
  min-width: 360px;
  border: 10px solid #3f3f3f;
  border-radius: 10px;
  padding: 8px;
}

.drink-items {
  justify-content: center;
  padding: 11px 9px;
  border-radius: 10px;
  background: #3f3f3f;
}

.drink-lists {
  display: grid;
  grid-template-columns: repeat(3, 94px);
  justify-content: center;
  gap: 12px;
}

.drink-item {
  text-align: center;
  background: #f2f2f2;
  padding: 9px 0;
  border-radius: 10px;
}

.drink-item:focus-within {
  box-shadow: 0 0 0 3px #ff7d35;
}

.drink-name {
  padding: 0 0 7px 0;
  font-size: 11px;
}

.drink-price {
  background: #ff7d35;
  width: 70px;
  border-radius: 50px;
  color: #f2f2f2;
  padding: 3px 0;
  font-size: 13px;
}

.drink-lists li:nth-child(1) {
  grid-column: 1 / 2;
  grid-row: 1/ 2;
}

.drink-lists li:nth-child(2) {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.drink-lists li:nth-child(3) {
  grid-column: 3 / 4;
  grid-row: 1 / 2;
}

.drink-lists li:nth-child(4) {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.drink-lists li:nth-child(5) {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.drink-lists li:nth-child(6) {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
}

.drink-lists li:nth-child(7) {
  grid-column: span 2;
  grid-row: 3 / 4;
}

.drink-lists li:nth-child(8) {
  grid-column: span 1;
  grid-row: 3 / 4;
}

.drink-lists li:nth-child(9) {
  grid-column: span 2;
  grid-row: 4 / 5;
}

.drink-lists li:nth-child(10) {
  grid-column: span 1;
  grid-row: 4 / 5;
}

.drink-lists li:nth-child(11) {
  grid-column: span 2;
  grid-row: 5 / 6;
}

.drink-lists li:nth-child(12) {
  grid-column: span 1;
  grid-row: 5 / 6;
}

.balance-display {
  background: #ffd2b9;
  padding: 8px 10px;
  border-radius: 5px;
  color: #3f3f3f;
  font-size: 16px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
}

.return-button {
  background: #f2f2f2;
  font-size: 13px;
  border-radius: 5px;
  font-weight: bold;
  color: #3f3f3f;
  padding: 7px 6px;
}

#amount-input {
  background: #f2f2f2;
  border-radius: 5px;
  border: 1px solid #bdbdbd;
  width: 180px;
  padding: 9px 10px;
  color: #3f3f3f;
  font-size: 13px;
}

#amount-input::placeholder {
  color: #bdbdbd;
  font-size: 13px;
  font-weight: bold;
}

.deposit-button {
  background: #f2f2f2;
  width: 94px;
  padding: 8px 0;
  border-radius: 5px;
  font-size: 14px;
  color: #3f3f3f;
  font-weight: bold;
}

.selected-drinks {
  background: #ffd2b9;
  padding: 12px 12px 0 12px;
  width: 200px;
  height: 104px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border: 1px solid #bdbdbd;
}

.selected-drink img {
  width: 18px;
}

.selected-drink {
  width: 170px;
  padding: 6px 10px;
  background: #f2f2f2;
  margin-bottom: 6px;
  border-radius: 5px;
  display: grid;
  grid-template-columns: 0.5fr 2fr 0.5fr;
  align-items: center;
}

.selected-drink span {
  font-size: 11px;
  font-weight: bold;
}

.selected-stock {
  border: 1px solid #bdbdbd;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
}

.acquire-button {
  background: #ff7d35;
  color: #f2f2f2;
  width: 94px;
  height: 104px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: bold;
}

.wallet-display {
  grid-area: wallet;
  background: #3f3f3f;
  width: 360px;
  border-radius: 10px;
}

.wallet-content {
  display: flex;
  justify-content: space-between;
  padding: 6px 10px;
  margin: 9px 27px;
  background: #ffd2b9;
  border-radius: 5px;
  font-weight: bold;
}

.drink-acquired {
  grid-area: acquired;
  background: #3f3f3f;
  width: 360px;
  border-radius: 10px;
  padding: 24px 27px;
}

.drink-acquired h2 {
  font-size: 16px;
  text-align: center;
  color: #f2f2f2;
  padding-bottom: 8px;
}

.acquired-items {
  min-height: 364px;
  background: #ffd2b9;
  margin: 8px 0 9px 0;
  padding: 12px;
  border-radius: 5px;
}

.acquired-item img {
  width: 18px;
}

.acquired-item {
  padding: 6px 10px;
  background: #f2f2f2;
  margin-bottom: 6px;
  border-radius: 5px;
  display: grid;
  grid-template-columns: 0.5fr 3.5fr 0.5fr;
  align-items: center;
  font-size: 11px;
  font-weight: bold;
}

.total-amount {
  color: #f2f2f2;
  font-size: 14px;
  text-align: end;
}

.acquired-stock {
  border: 1px solid #bdbdbd;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
}

.sold-out {
  background: url("./images/sold-out.svg") no-repeat #000000;
  opacity: 80%;
  width: 94px;
  height: 130px;
  border-radius: 10px;
}
