.main-header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: var(--color-grey);
  padding: 18px 0;
}

.search-container {
  display: flex;
  position: relative;
}

.main-logo {
  padding-right: 12px;
  margin-bottom: -12px;
}

#input-search {
  width: 400px;
  height: 46px;
  border-radius: 50px;
  border: 1px solid var(--color-maroon);
  padding: 0 52px 0 22px;
  font-size: 16px;
  box-sizing: border-box;
}

.btn-search {
  position: absolute;
  right: 22px;
  top: 50%;
  transform: translateY(-50%);
}

.user-controls {
  display: flex;
  gap: 26px;
}

.btn-shopping-cart p,
.btn-user p {
  font-size: 12px;
  color: #767676;
}

.user-controls button img {
  width: 32px;
  height: 32px;
}

.btn-shopping-cart {
  width: 60px;
}

.btn-seller-center {
  justify-content: center;
  align-items: center;
  gap: 8px;
  color: #fff;
  background-color: var(--color-maroon);
  border-radius: 5px;
  width: 168px;
  height: 54px;
  display: none;
  margin-right: 55px;
}

.btn-shopping-cart:hover,
.btn-user:hover,
.btn-seller-center:hover {
  opacity: 0.6;
}

.speech-bubble {
  width: 120px;
  height: 88px;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 90px;
  right: 260px;
  z-index: 1;
  background-color: #ffff;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 2px 2px rgb(178 178 178 / 0.3);
  display: none;
}

.triangle {
  width: 30px;
  height: 30px;
  background-color: #ffff;
  border-radius: 4px;
  transform: rotate(135deg);
  position: absolute;
  bottom: 80px;
  left: 55px;
  z-index: -10;
}

.speech-bubble-txt {
  font-size: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  z-index: 100;
  color: #767676;
  text-align: center;
}

.speech-bubble-txt p {
  width: 109px;
  padding: 10px 0;
  border-radius: 5px;
  cursor: pointer;
}

.speech-bubble-txt p:hover {
  border: 1px solid #000;
  color: #000;
}
