/* 메인 */
.image-slider {
  min-width: 300px;
  overflow: hidden;
  position: relative;
}

.images-box {
  display: flex;
  transition: all 1s;
}

.image-slider img {
  width: 100%;
  object-fit: cover;
}

.btn-left-swiper {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.btn-right-swiper {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

.btn-dots {
  position: absolute;
  left: 50%;
  bottom: 18px;
}

.dot {
  width: 6px;
  height: 6px;
  border-radius: 50px;
  background-color: #fff;
  padding: 0;
}

.dot-active {
  background-color: #000;
}

.products-container {
  display: grid;
}

.product {
  display: flex;
  flex-direction: column;
}

.product-image {
  width: 380px;
  height: 380px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: #ffffff;
  border: 1px solid #c4c4c4;
}

.products-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 49px;
  padding: 80px 300px 180px 300px;
}

.product-image img:hover,
.store-name:hover,
.product-name:hover {
  opacity: 0.6;
}

.store-name {
  color: #767676;
  font-size: 16px;
  padding-top: 16px;
  cursor: pointer;
}

.product-name {
  color: #000;
  font-size: 18px;
  padding: 10px 0 10px 0;
  cursor: pointer;
}

.product-price {
  color: #000;
  font-size: 24px;
  font-weight: bold;
}

.soldout-image {
  width: 125px;
  padding-bottom: 5px;
}
