/* 헤더 */
.main-header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: var(--color-grey);
  padding: 18px 0;
}

.search-container {
  display: flex;
  position: relative;
}

.main-logo {
  padding-right: 12px;
  margin-bottom: -12px;
}

#input-search {
  width: 400px;
  height: 46px;
  border-radius: 50px;
  border: 1px solid var(--color-maroon);
  padding: 0 52px 0 22px;
  font-size: 16px;
  box-sizing: border-box;
}

.btn-search {
  width: 28px;
  position: absolute;
  right: 22px;
  top: 50%;
  transform: translateY(-50%);
}

.user-controls button p {
  font-size: 12px;
  color: #767676;
}

.user-controls button img {
  width: 32px;
  height: 32px;
}

.btn-shopping-cart {
  width: 60px;
}

.btn-user {
  width: 56px;
  margin-left: 20px;
}

/* 메인 */
main {
  position: relative;
}

.image-slider {
  min-width: 300px;
  display: flex;
  overflow: hidden;
}

.image-slider img {
  width: 100%;
  object-fit: cover;
}

.btn-left-swiper {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}

.btn-right-swiper {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

.btn-dots {
  position: absolute;
  bottom: 10px;
  left: 50%;
}

.dot {
  width: 6px;
  height: 6px;
  border-radius: 50px;
  background-color: #fff;
  padding: 0;
}

.dot-ative {
  background-color: #000;
}
