/* main */
main {
  padding: 54px 10px;
}

.main-txt {
  font-size: 36px;
  text-align: center;
}

.product-details {
  display: grid;
  grid-template-columns: 0.2fr 1.8fr 1fr 1fr;
  width: 1220px;
  background-color: #f2f2f2;
  font-size: 18px;
  padding: 20px 30px;
  margin: 52px auto 35px auto;
  border-radius: 10px;
}

.radio-group {
  display: flex;
  align-items: center;
}

input[type="radio"] {
  display: none;
}

label {
  position: relative;
  padding-left: 25px;
  cursor: pointer;
  margin-bottom: 10px;
  display: inline-block;
}

.radio-group label::before {
  content: "";
  position: absolute;
  left: 0;
  top: -11px;
  width: 18px;
  height: 18px;
  border: 2px solid var(--color-maroon);
  border-radius: 50%;
}

.main-radio-group label::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50px;
  width: 18px;
  height: 18px;
  border: 2px solid var(--color-maroon);
  border-radius: 50%;
}

.radio-group input[type="radio"]:checked + label::after {
  content: "";
  position: absolute;
  left: 5px;
  top: -6px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: var(--color-maroon);
}

.main-radio-group input[type="radio"]:checked + label::after {
  content: "";
  position: absolute;
  left: 5px;
  top: 55px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: var(--color-maroon);
}

.product-details span {
  justify-self: center;
  font-size: 18px;
  color: #000;
}

.shopping-cart {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.no-cart-item {
  text-align: center;
  padding: 200px 0 442px 0;
}

.no-cart-item strong {
  font-size: 18px;
  font-weight: bold;
  color: #000;
}

.no-cart-item p {
  padding-top: 17px;
  font-size: 14px;
  color: #767676;
}

.cart-item {
  display: grid;
  grid-template-columns: 0.2fr 0.5fr 1.3fr 1fr 1fr;
  width: 1220px;
  margin: 0 auto;
  background-color: #f2f2f2;
  padding: 20px 30px;
  border-radius: 10px;
  position: relative;
}

.cart-item-image {
  width: 160px;
  height: 160px;
  border-radius: 10px;
}

.cart-item-image:hover {
  opacity: 0.8;
}

.cart-item-image img {
  width: 160px;
  height: 160px;
  border-radius: 10px;
}

.product-info {
  padding: 15px 30px;
}

.store-name {
  font-size: 14px;
  color: #767676;
}

.product-name {
  font-size: 18px;
  color: #000;
  padding: 10px 0;
}

.product-price {
  font-size: 16px;
  font-weight: bold;
}

.delivery {
  font-size: 14px;
  color: #767676;
  padding-top: 40px;
}

.product-quantity-control {
  justify-self: center;
  align-self: center;
  font-size: 18px;
  display: flex;
}

.product-quantity-control button {
  border: 1px solid var(--color-orange);
  width: 50px;
  height: 50px;
  background-color: #f2f2f2;
  font-size: 18px;
}

.product-quantity-control button:first-child {
  border-radius: 5px 0 0 5px;
}

.product-quantity-control button:last-child {
  border-radius: 0 5px 5px 0;
}

.product-price {
  justify-self: center;
  align-self: center;
}

.product-price {
  display: flex;
  flex-direction: column;
  gap: 26px;
}

.product-price strong {
  font-size: 18px;
  color: #eb5757;
  font-weight: bold;
  text-align: center;
}

.product-price button {
  width: 130px;
  height: 40px;
  background-color: var(--color-maroon);
  color: #f2f2f2;
  border-radius: 5px;
}

.delete-btn {
  position: absolute;
  top: 18px;
  right: 18px;
}

.payment-container {
  display: none;
}

.payment-amount-calculation {
  width: 1280px;
  background-color: #f2f2f2;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  place-items: center;
  margin: 80px auto 40px auto;
  padding: 42px 0;
  border-radius: 10px;
  text-align: center;
}

.total-price p,
.product-discount p,
.delivery-fee p {
  padding-bottom: 12px;
  font-size: 16px;
}

.total-price strong,
.product-discount strong,
.delivery-fee strong {
  font-size: 24px;
  font-weight: bold;
}

.total-price span,
.product-discount span,
.delivery-fee span {
  font-size: 16px;
}

.total-price::after {
  background: url("../images/icon-minus-line.svg") no-repeat center;
  content: "";
  position: absolute;
  background-color: var(--color-apricot);
  width: 34px;
  height: 34px;
  transform: translate(96px, -20px);
  border-radius: 50%;
}

.product-discount::after {
  background: url("../images/icon-plus-line.svg") no-repeat center;
  content: "";
  position: absolute;
  background-color: var(--color-apricot);
  width: 34px;
  height: 34px;
  transform: translate(128px, -20px);
  border-radius: 50%;
}

.expected-payment-amount p {
  padding-bottom: 5px;
  font-size: 16px;
  font-weight: bold;
}

.expected-payment-amount strong {
  font-size: 36px;
  color: #eb5757;
  font-weight: bold;
}

.expected-payment-amount span {
  font-size: 18px;
  color: #eb5757;
}

.final-actions {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-bottom: 106px;
  position: relative;
}

.final-actions button {
  width: 220px;
  height: 68px;
  border-radius: 5px;
  font-size: 24px;
  font-weight: bold;
}

.final-order-btn:hover,
.order-btn:hover {
  opacity: 0.9;
}

.final-delete-btn:hover::after {
  content: "";
  width: 220px;
  height: 68px;
  border-radius: 5px;
  background-color: var(--color-maroon);
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(14px);
  opacity: 0.2;
}

.final-order-btn {
  color: var(--color-apricot);
  background-color: var(--color-maroon);
}

.final-delete-btn {
  color: #767676;
  background-color: #f2f2f2;
  border: 1px solid var(--color-orange);
}

/* modal */
.modal-bg {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 100;
  display: none;
}

.modal {
  min-width: 360px;
  height: 200px;
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: #f2f2f2;
  transform: translate(-50%, -50%);
  border: 1px solid #c4c4c4c4;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 10px;
}

.modal-txt {
  font-size: 16px;
  line-height: 20px;
  justify-self: center;
  align-self: center;
  display: flex;
}

.answer-action {
  display: flex;
  gap: 10px;
  flex-direction: row;
}

.answer-action button {
  width: 100px;
  height: 40px;
  border-radius: 5px;
  margin-top: 30px;
}

.cancel-btn {
  background-color: #f2f2f2;
  border: 1px solid var(--color-orange);
  color: #767676;
}

.check-btn {
  background-color: var(--color-maroon);
  color: #f2f2f2;
}

.modify-btn {
  background-color: var(--color-maroon);
  color: #f2f2f2;
}

.delete-btn {
  position: absolute;
  top: 18px;
  right: 18px;
}

.delete-btn:hover::after {
  content: "";
  position: absolute;
  top: -5px;
  right: 0;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  background-color: #000;
  opacity: 0.1;
}

.modal-txt button {
  border: 1px solid var(--color-orange);
  width: 50px;
  height: 50px;
  background-color: #f2f2f2;
  font-size: 18px;
}

.modal-txt .decrease-btn:active,
.modal-txt .increase-btn:active {
  background-color: var(--color-maroon);
}

.modal-txt button:first-child {
  border-radius: 5px 0 0 5px;
}

.modal-txt button:last-child {
  border-radius: 0 5px 5px 0;
}
