.logo {
  width: 265px;
  margin: auto;
  display: block;
  padding: 70px 0;
  cursor: pointer;
}

.signup-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 100px;
}

.btn-member {
  width: 552px;
  display: flex;
}

.btn-purchasing,
.btn-sales {
  height: 72px;
  width: 276px;
  background-color: var(--color-apricot);
  font-size: 18px;
  font-weight: bold;
  border-radius: 10px 10px 0 0;
  border: 1px solid var(--color-orange);
  border-bottom: none;
  margin-bottom: -12px;
  padding-bottom: 12px;
}

.signup-form {
  width: 480px;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  border: 1px solid var(--color-orange);
  border-radius: 10px;
  padding: 32px 35px 36px 35px;
}

.member-check-btn {
  z-index: 100;
  background-color: #f2f2f2;
  height: 61px;
  padding: 0;
}

.member-check-purchasing {
  border-top-left-radius: 0;
}

.member-check-sales {
  border-top-right-radius: 0;
}

label {
  display: block;
}

#input-id,
#input-pw,
#input-pw-check,
#input-name,
#input-phone-number,
#input-email,
#input-business-number,
#input-store-name {
  height: 52px;
  border: 1px solid var(--color-orange);
  font-size: 16px;
  background-color: #f2f2f2;
  border-radius: 5px;
  margin: 10px 0 12px 0;
  padding: 0 10px;
}

#input-id,
#input-business-number {
  width: 326px;
}

.input-business-number {
  margin-top: 50px;
}

.btn-double-check,
.btn-certification {
  width: 122px;
  height: 54px;
  background-color: var(--color-maroon);
  color: #f2f2f2;
  border-radius: 5px;
  cursor: pointer;
}

.id-inputs {
  display: flex;
  gap: 12px;
  align-items: center;
}

#input-pw,
#input-pw-check,
#input-name,
#input-store-name {
  width: 460px;
}

#input-phone-number {
  width: 130px;
  text-align: center;
}

#input-email {
  width: 220px;
}

.input-name {
  padding-top: 38px;
}

.phone-number-inputs {
  display: flex;
  gap: 12px;
  position: relative;
  align-items: center;
}

.select-box {
  width: 152px;
}

.selected {
  border-radius: 5px;
  border: 1px solid var(--color-orange);
  padding: 17px 0 17px 50px;
}

.select-box ul {
  position: absolute;
  border: 1px solid var(--color-orange);
  margin-top: 6px;
  width: 102px;
  height: 140px;
  overflow: auto;
  padding-left: 50px;
  border-radius: 5px;
  font-size: 16px;
  background-color: #f2f2f2;
  font-weight: bold;
  display: none;
}

.select-box ul::-webkit-scrollbar {
  width: 18px;
}

.select-box ul::-webkit-scrollbar-track {
  background-color: #f2f2f2;
  border-radius: 10px;
}

.select-box ul::-webkit-scrollbar-thumb {
  background-color: #c4c4c4;
  border-radius: 10px;
  background-clip: padding-box;
  border: 6px solid transparent;
}

.select-box ul li {
  padding: 10px 0;
  cursor: pointer;
}

.btn-arrow {
  width: 22px;
  height: 22px;
  position: absolute;
  top: 26px;
  left: 110px;
  padding: 0;
}

.btn-arrow-active {
  transform: rotateX(180deg);
  transition: all 1s;
}

.email-inputs {
  display: flex;
  gap: 11px;
  align-items: center;
}

.email-inputs span {
  font-size: 16px;
  color: #767676;
}

.signup-error {
  color: #eb5757;
  font-size: 16px;
  padding-top: 16px;
  display: none;
}

.btn-signup {
  width: 480px;
  height: 60px;
  background-color: var(--color-orange);
  color: var(--color-apricot);
  font-size: 18px;
  font-weight: bold;
  border-radius: 10px;
  margin-top: 26px;
}

.agree-container {
  width: 480px;
  padding-top: 48px;
  display: flex;
  align-items: start;
  gap: 5px;
}

.agree-container span {
  font-size: 16px;
  color: #767676;
  line-height: 20px;
}

.agree-container span strong {
  font-weight: bold;
  text-decoration: underline;
}

.business-number-box,
.store-name-box {
  display: none;
}
