.container {
  display: grid;
  grid-template-areas:
    "header header"
    "navbar main";
  grid-template-columns: 220px auto;
}

/* header */
.title {
  background-color: #000000;
  grid-area: header;
}

.title h1 {
  font-size: 45px;
  color: #ffffff;
  text-align: center;
  line-height: 75px;
  height: 80px;
}
/* header */

/* nav */
.navbar-list {
  background-color: #000000;
  width: 220px;
  grid-area: navbar;
  height: 100vh;
}

.navbar-list li {
  font-size: 30px;
  color: #ffffff;
  display: flex;
  align-items: center;
  gap: 11px;
  margin-bottom: 25px;
}

/* nav */

/* main */
.main {
  display: grid;
  grid-template-areas:
    "analog calendar calendar"
    "digital paint slider"
    "weather paint slider";
  grid-area: main;
  padding: 29px 0 0 50px;
}
/* main  */

/* analog-container */
.analog-container {
  width: 453px;
  height: 371px;
  grid-area: analog;
}
/* analog-container */

/* digital-container */
.digital-container {
  width: 453px;
  height: 198px;
  grid-area: digital;
  transform: translate(50px, -50px);
}
/* digital-container */

/* weather-container */
.weather-container {
  width: 453px;
  height: 224px;
  grid-area: weather;
  transform: translateY(-60px);
}
/* weather-container */

/* calendar-container */
.calendar-container {
  width: 756px;
  height: 366px;
  transform: translateX(150px);
}
/* calendar-container */

/* 그림판 css */
.paint-board-container {
  width: 453px;
  height: 421px;
  grid-area: paint;
  justify-self: center;
  transform: translateY(-20px);
}

.paint-board-container main {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

canvas {
  width: 290px;
  height: 290px;
  background: #ffffff;
}

.btns-colors {
  width: 290px;
  display: grid;
  grid-template-areas:
    "btns range"
    "colors range";
  gap: 4px;
  margin-top: 10px;
}

.btns {
  grid-area: btns;
  display: flex;
  gap: 7.5px;
}

.draw-mode-btn,
.erase-btn,
.save-btn {
  width: 50px;
  height: 17px;
  box-shadow: inset 1px 1px 1px white, inset -1px -1px 1px black;
  font-size: 11px;
}

.colors {
  display: flex;
  grid-area: colors;
  gap: 2px;
  justify-self: start;
  align-items: center;
  background: #e0e0e0;
  padding-right: 2px;
  height: 17px;
  margin-top: 5px;
}

#color {
  width: 19px;
  height: 23px;
  padding: 0;
}

.color-option {
  width: 13px;
  height: 13px;
  box-shadow: inset 1.5px 1.5px 1px black;
  cursor: pointer;
}

#line-width {
  grid-area: range;
  justify-self: end;
  width: 108px;
}

input[type="range"] {
  width: 100%;
  appearance: none;
  background: transparent;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  background: #b0b7b8;
  box-shadow: inset -1px -1px 1px black, inset 1px 1px 1px white;
  margin-top: -14px;
  cursor: pointer;
  height: 25px;
  width: 15px;
}

input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 1px;
  cursor: pointer;
  box-shadow: -1px -1px 1px #000000, inset 1px 1px 1px white;
}
/* 그림판 css */

/* images-slider-container */
.images-slider-container {
  width: 420px;
  height: 421px;
  grid-area: slider;
  transform: translate(-110px, -60px);
}

.slider-main {
  width: 360px;
  height: 360px;
  background-color: white;
  margin: 10px auto 0 auto;
  position: relative;
}

.slider-images-box {
  height: 360px;
  width: 270px;
  overflow: hidden;
  margin: 0 auto;
}

.slider-images {
  transition: 0.5s;
  display: flex;
}

.slider-images li {
  transform: translateX(-540px);
}

.slider-images li img {
  width: 270px;
  height: 100%;
  object-fit: cover;
  vertical-align: top;
  z-index: 0;
}

.previous-btn,
.next-btn {
  width: 24px;
  height: 24px;
  background-color: #d9d9d9;
  border-radius: 50%;
  font-size: 20px;
}

.previous-btn {
  position: absolute;
  top: 50%;
  left: 4%;
  transform: translate(50%, -50%);
}

.next-btn {
  position: absolute;
  top: 50%;
  right: 4%;
  transform: translate(-50%, -50%);
}

.bullet-container {
  display: flex;
  justify-content: center;
  margin-top: -20px;
}

.bullet {
  width: 10px;
  height: 10px;
  background-color: white;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
  z-index: 10;
}

.bullet.active {
  background-color: #b0b0b0;
}

/* images-slider-container */
