:root {
  /* color */
  --color-grey: #e6e3dc;
  --color-orange: #ec7e62;
  --color-apricot: #edd0c2;
  --color-maroon: #a25956;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  background: var(--color-apricot);
}

main {
  flex: 1;
}
